<h1> My Restaurants </h1>
<div>
  <label> Name: </label><input #restName />
  <label> Address: </label><input #restAddress />
  <label> Rating: </label><inpit #restRating />
  <button (click)="add(restName.value, restAddress.value, restRating.value);
                              restName.value=''";
                              restAddress.value="";
                              restRating.value="Optional">
    Add
  </button>
</div>

<ul class="rests">
<li *ngFor="let rest of rests" (click)="onSelect(rest)"
    [class.selected]="rest === selectedRest">
  <span class="badge">{{rest.id}}</span>
  <span>{{rest.name}}</span>
  <button class="delete"
    (click)="delete(hero); $event.stopPropagation()">x</button>
</li>
</ul>
<div *ngIf="selectedRest">
  <h2>
    {{selectedRest.name | uppercase}} is the Restaurant
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
