@font-face {
    font-family: "Playfair";
    src: url(./fonts/playfair/PlayfairDisplay-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 14px "Playfair";
}

.container {
	width: 100%;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
}
